/* general settings */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* nav*/
nav{ 
  margin: 10px; 
  padding-bottom: 5vh; 
  white-space: nowrap;
  display: flex;
  justify-content: space-between; /* Раздвигает логотип и кнопку */
  align-items: center; /* Выравнивание по вертикали */
  padding: 10px 20px;
}  
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hyper{ 
  background-color: rgb(0, 123, 255); 
  border: 5px solid; 
  border-color: rgba(220, 202, 202, 0);
  color:white;
  position: absolute; 
  z-index: 2; 
  padding: 7px 10px; 
  border-radius: 5px; 
  text-decoration: none;
  margin-top: -5px; 
  
}
.hyper:hover{ 
  background-color: #056ad7; 
} 
.hyper:active{ 
  border: 5px solid rgba(98, 165, 243, 0.484); 
} 

.name-group{ 
  float: left; 
  margin-left: 200px; 
  margin-top: 5px; 
  font-size: 20px; 
} 

.hyperlink{ 
  float: right; 
  margin-right: 200px; 
} 

/* the background image with text */
.block1{
  position: relative;
  background-color: #343a40;
  background: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg) center; 
  background-size: cover; 
  height: 60vh;
  text-align: center;
  width: 100%; 
}
.darking{
  position: absolute;
  background-color: hwb(213 20% 76%);
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  opacity: .3;
}
.hyper-inblock{
  background-color: rgb(0, 123, 255); 
  border: 5px solid; 
  border-color: rgba(220, 202, 202, 0);
  color:white;
  position: absolute; 
  z-index: 2; 
  padding: 12px 12px; 
  border-radius: 5px; 
  text-decoration: none;
  font-size: 15px;

}

/* adaptive*/
@media (min-width: 768px) {
  .block1{
      padding-top:12vh;
      padding-bottom:12vh;
  }

  .block1 h1 {
      font-size: 3.5rem;
  }
}



.fortext{
  position: relative; 
  top:15%; 
}

.textinblock{ 
  color: white; 
  font-weight: 700; 
  font-size: 50px; 
  padding: 0% 13% 0% 13%; 
  margin-bottom: 50px; 
} 
#forminblock{
  flex-direction: row;
}
.textblock{ 
  padding: 12px  150px; 
  border-radius: 7px; 
  border-color: white;
  font-size: 18px; 
  margin-right: 10px;
}
.inblock{
  padding: 12px 25px;
}



/* sections with icons */

#icons {
  background-color:;
  padding: 100px;
}

.innerblock {
  display: flex;
  justify-content: center; /* сenter the icons horizontally */
  flex-wrap: wrap; 
  gap: 10%; /* spacing between icons */
  text-align: center;
  position: relative center;
  max-width: 1200px; 
}

.icons {
  display:inline-block; 
  max-width: 25%;
}

img.icon {
  height: 100px;
  width: 100px;
  object-fit: cover;
  /*additional*/
transition: transform 0.3s ease, opacity 0.3s ease; /* smooth hover effect */

}

img.icon:hover {
  transform: scale(1.1); /* a little bit large img on hover */
  opacity: 0.8; /* чуть прозрачность */
}

.undericon {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.icons p {
  font-size: 0.9rem;
  color: #303030	; 
  font-weight: lighter;
  line-height: 1.25;
}
/*footer*/ 
.block3{  
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg);  
    background-position: center; 
    height: 40vh;  
    background-size: cover;  
    text-align: center!important;  
}  
.fortext2{ 
    position: relative;  
    top: 30%;  
}
